@import 'colors';
* {
	padding: 0;
	margin: 0;
	background-origin: border-box;
}
html {
	scroll-padding-top: 72px;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.6);
}

nav {
	transition: background-color 0.6s;
	width: 100%;
	z-index: 20;
	text-transform: uppercase;

	.nav-link,
	.navbar-brand,
	i {
		color: $main-color;
	}

	.nav-link:hover,
	.navbar-brand:hover {
		color: $hover-color !important;
	}

	.navbar-brand {
		font-weight: bold;
	}
	.active {
		color: royalblue;
		color: $hover-color !important;
	}
	.fa-bars {
		padding: 10px;
	}
}
.navbar-dark {
	--bs-navbar-brand-hover-color: royalblue !important;
	--bs-navbar-hover-color: royalblue !important;
}
.navbar {
	--bs-navbar-brand-hover-color: royalblue !important;
	--bs-navbar-hover-color: royalblue !important;
}

header {
	text-align: center;
	color: $white;
	.btn-outline-light {
		text-transform: uppercase;
	}
	h1 {
		text-transform: uppercase;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/header-mini.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}
	.hero-text {
		// z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		font-style: 30px;
		transform: translateX(-50%);
		left: 50%;
		color: $white;
	}
}
.aboutus {
	i {
		margin-top: 20px;
		font-style: 30px;
	}
	.aboutus-card-title {
		font-style: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-style: 14px;
	}
	.aboutus-hover {
		transition: color 0.5s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.aboutus-hero {
	position: relative;
	color: $light-gray;
	background-image: url('../img/heroImgv2Big.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;

	.shadow-hero2 {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-style: 36px;
		}
		.aboutus-hero-title {
			font-size: 26px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('../img/header-big.jpg');
		}
	}
}
@media (min-width: 992px) {
	.aboutus-hero {
		background-image: url('../img/heroImgv2.jpg');
	}
}
